/* Variáveis globais */
:root {
    --primary-color: #3f51b5;
    --secondary-color: #4caf50;
    --background-color: #f4f4f4;
    --text-color: #333;
    --border-color: #ccc;
    --font-size: 16px;
    --radius: 8px;
    --shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    --padding: 20px;
  }
  
  /* Reset básico */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Estilo base */
  body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f8f8; /* Cor de fundo mais suave */
    color: var(--primary-color);
    font-size: var(--font-size);
  }
  /* Responsividade */
  @media (max-width: 768px) {
    body {
      font-size: 14px;
    }
  }
  
  /* Container */
  .container {
    background: #fff;
    padding: var(--padding);
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    border: 1px solid #ddd; /* Borda suave para o container */
  }
  
  /* Estilo do Título */
  .title {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    color: var(--primary-color);
    position: relative;
    pointer-events: none;
    user-select: none;
    text-transform: uppercase; /* Adiciona um toque mais moderno */
    letter-spacing: 1px; /* Aumenta o espaço entre as letras */
    transition: all 0.3s ease; /* Suaviza a transição */
    transition: box-shadow 0.3s ease; /* Transição suave para a sombra */
  }
  
  .title:hover {
    color: var(--secondary-color); /* Mudança de cor no hover */
    text-shadow: 0 8px 10px rgba(0, 0, 0, 0.2); /* Aumenta o efeito de sombra */
  }
  
  
  .title span {
    color: var(--secondary-color);
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  }
  
  /* Efeito Subtítulo */
  .title::after {
    content: "Encontre o ritmo perfeito!";
    font-size: 1rem;
    color: var(--text-color);
    display: block;
    margin-top: 10px;
    margin-bottom: 25px;
    text-align: center;
    font-style: italic;
  }
  
  /* Formulário */
  .form {
    margin: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: var(--text-color);
  }
  
  input {
    width: 100%;
    padding: 8px;
    border: 1px solid var(--border-color);
    border-radius: var(--radius);
  }

  .input-wrapper {
    position: relative;
    display: inline-block;
    width: 45%; /* Ajuste conforme necessário */
  }
  
  .input-wrapper input {
    width: 100%;
    padding: 8px 20px; /* Adicionando padding para ter espaço à direita */
    box-sizing: border-box;
    font-size: 1rem;
  }
  
  .input-wrapper .suffix {
    position: absolute;
    top: 50%;
    right: 35px; /* Posição do sufixo à direita */
    transform: translateY(-50%);
    color: #888;
    font-size: 0.9rem;
  }
  
  /* Botões */
  .form-group-buttons {
    display: flex;
    justify-content: space-around;
}

  button {
    padding: 12px 20px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: var(--radius);
    cursor: pointer;
    transition: all 0.3s ease; /* Transição suave em todas as mudanças */
  }
  
  button:hover {
    background-color: #002984;
    transform: scale(1.05); /* Aumenta um pouco o tamanho no hover */
  }
  
  .form__button--primary {
    background-color: var(--secondary-color);
  }
  
  .form__button--primary:hover {
    background-color: #388e3c;
    transform: scale(1.05);
  }
  
  
  /* Resultado */
  #result {
    margin-top: 20px;
    font-size: 20px;
    color: var(--text-color);
    text-align: center;
    font-weight: bold;
    background-color: #f1f1f1; /* Fundo suave para a área de resultados */
    padding: 15px;
    border-radius: var(--radius);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  